* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: rgb(27, 31, 26);
}
.container {
  color: white;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40vw;
  height: 150px;
  background-color: rgba(36, 43, 35, 0.527);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.226);
}
h1 {
  margin-bottom: 20px;
}
.password-div {
  width: 80%;
  display: flex;
  flex-direction: row;
  height: 50%;
  /* background-color: black; */
}
.password-div input {
  width: 80%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 30px;
  border: none;
  cursor:copy;
  font-size: 19px;
}

.password-div button {
  background-color: rgb(11, 201, 11);
  font-size: 18px;
  font-weight: 600;
  width: 20%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  padding-bottom: 10px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.637);
  cursor: pointer;
  transition: all 0.2s linear;
}
.password-div button:active {
  /* background-color: rgba(11, 201, 11, 0.425); */
  padding-top: 10px;
  border-bottom: 5px solid rgba(0, 0, 0, 0);

}
.password-div button:active {
  border-bottom: none;
}

.dependencies {
  margin-top: 10px;
}
.dependencies input {
    margin-left: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.copied-message {
  position: absolute;
  top: 51.3%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 200px;
  height: 50px;
  background-color: rgb(11, 201, 11);
  box-shadow:5px 5px rgba(71, 71, 70, 0.527);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 19px;
  transition: all 0.3s;
  color: black;
}

@media only screen and (max-width:1275px) {

  .container {
  padding: 10px;
  width: 80vw;
  height: 30vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.226);
}
h1 {
  margin-bottom: 20px;
}
.password-div {
  width: 56vw;
  display: flex;
  flex-direction: row;
  height: 8vh;
  /* background-color: black; */
}
.password-div input {
  width: 80%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 30px;
  border: none;
  cursor:copy;
  font-size: 19px;
}

.password-div button {
  background-color: rgb(11, 201, 11);
  font-size: 18px;
  font-weight: 600;
  width: 15vw;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  padding-bottom: 10px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.637);
  cursor: pointer;
  transition: all 0.2s linear;
}

}

@media only screen and (max-width:600px) {
.container {
  position: absolute;
  top: 45%;
  left: 50%;
  padding: 10px;
  padding-top: 30px;
  width: 80vw;
  height: 28vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.226);
}
h1 {
  margin-bottom: 20px;
}
.password-div {
  width: 90%;
  display: flex;
  flex-direction: row;
  height: 8vh;
  /* background-color: black; */
}
.password-div input {
  width: 70%;
  height: 50px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 30px;
  border: none;
  cursor:copy;
  font-size: 15px;
}

.password-div button {
  background-color: rgb(11, 201, 11);
  font-size: 18px;
  font-weight: 600;
  width: 30%;
  height: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  padding-bottom: 10px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.637);
  cursor: pointer;
  transition: all 0.2s linear;
}

.dependencies {
  position: relative;
  top: -10%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dependencies label {
  margin-top: 10px;
}
}
